body {
  background: #c4c9cf;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

.cc-body{
  background-color: rgb(111, 134, 196);
  padding: 30px;
  box-shadow: 1px 1px 50px #7aa5e9;
  border-radius: .5em;
}

h1{
  margin: 0;
  margin-bottom: .9rem;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.inputField{
  border: 1px solid rgb(199, 199, 199);
  border-radius: .3em;
  width: 8em;
  padding: .1em;
  height: 2em;
  text-align: center;
  font-size: 16px;
  letter-spacing: 3px;
}

select{
  margin: .5rem;
  padding: .1em;
  height: 2em;
  font-size: 16px;
}


.equal-sign{
  font-weight: bold;
  font-size: 2rem;
}